* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: stretch;
    width: 300px;
    padding: 30px 20px 0;
}

.container summary {
    font-weight: bold;
}

.container p {
    margin: 1px 0;
}

img{
    max-width: 270px;
    margin-right: 10px;
}

.container-text {
    margin: 20px;
    padding: 30px;
}

.container-text h2 {
    display: flex;
}
